{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'project.css' %}" />
  <title>Document</title>
</head>
<body>
  <div class="page">
    <header>
      <div id="name">
        <p>조철종</p>
      </div>
      <div class="menu">
        <div><a href="">about</a></div>
        <div><a href="project.html">project</a></div>
        <div><a href="">picture</a></div>
        <div><a href="">contact</a>
      </div>
    </header>
    <div class="contents">
      <div id="instagram">
        <img src="../../../../../../NEXT/Session2/HW2.png" alt="이미지 업로드 실패">
      </div>
      <div id="toss">
        <img src="../../../../NEXT_HW_5/클론코딩 과제.png" alt="이미지 업로드 실패">
      </div>
    </div>
  </div>
</body>
</html>