body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.title img {
  background-image: url('./assets/camera.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-btn {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  width: calc(33.33% - 20px); /* 3개의 포스트가 가로로 정렬되게 설정 */
  margin-bottom: 20px;
  cursor: pointer;
  position: relative; /* 썸네일과 프레임을 겹치게 하기 위해 필요 */
}

.post-thumbnail {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  border-radius: 5px;
  position: relative;
}

.post-thumbnail::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/filmframe.png');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.post-title {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

/* 반응형 스타일링 */
@media screen and (max-width: 768px) {
  .post {
      width: calc(50% - 20px); /* 화면이 작아지면 2개의 포스트가 가로로 정렬되게 설정 */
  }
}

@media screen and (max-width: 480px) {
  .post {
      width: 100%; /* 화면이 아주 작아지면 한 개의 포스트가 한 줄에 나타나도록 설정 */
  }
}