body {
  margin: 0;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: black;
}

header {
  position: fixed;
  display: flex;
  height: 10vh;
  width: 100%; 
  background-color: black;
  border-bottom: 2px white double;
}

#name {
  display: flex;
  width: 100%;
  display: flex;
  align-items: end;
}

#cj {
  color: white;
  margin-left: 7%;
  margin-top: 0;
  margin-bottom: 1%;
  font-size: 25px;
}

.menu {
  display: flex;
  width: 100%;
  align-items: end;
  justify-content: space-around;
  margin-bottom: 1%;
}

.contents {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

#Projects {
  height: 30%;
  color: white;
  padding-top: 15vh;
  margin-left: 5%;
  font-size: 25px;
}


.item {
  display :inline-block;
  margin : 3%;
  width: 30vh;
}

.itemimg {
  object-fit: cover;
  width: 100%;
}

.item span {
  background-color: rgb(230, 230, 230);
  font-size: 10px;
  align-self: center;
}