{% extends 'base.html' %}

{% block css %}
{% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'new.css' %}" />
{% endblock %}

{% block title %}
<h1>Welcome to My Blog!</h1>
{% endblock %} 

{% block content %}
  <div class="main">
  <h2>글쓰기 페이지</h2>
  <form action="/new" method="post">
    {% csrf_token %}
    <div>
      <div>글 제목</div>
      <input type="text" name="title" />
    </div>
    <div>
      <div>글 내용</div>
      <textarea name="content" cols="30" rows="10"></textarea>
    </div> 
    <div>
      <div>카테고리</div>
      <select name="category">
        {% for choice in categories %}
          <option value="{{ choice.0 }}">{{ choice.1 }}</option>
        {% endfor %}
      </select>
    </div>
    <br>
    <button type="submit">작성 완료</button>
  </form>
  </div>
{% endblock %}

{% block foot %}
  <div class="foot">
    <div>
      <h3>Contact</h3>
      <p>E-mail: cjjong0512@gmail.com</p>
      <p>Instagram: @Chorus__12</p>
    </div>
  </div>
{% endblock foot %}
</html>